@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,500");



/*SELLER */

.seller{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;

}
.plus{
  padding: 2px;
  margin: 2px;
  font-size: small;
  background-color: transparent;
  border-color: transparent;

}
.auteur{
  text-align: start;
  font-size: small;
}
.profil {
  height: 32px;
  object-fit: cover;
  width: 32px;
  border-radius: 100%;
  margin: 1px;
  padding: 2px;
  box-shadow: 1px 1px #888888de;

}
.font-weight-normal{
  padding: 1px;
  font-size: small;
}


/*SELLER FIN */






   
/*CARTE PRODUIT */
.cell .carteproduit{
  width:99%
}

.carteproduit {
  align-items: center;
  background:linear-gradient(rgb(118,149,147,100%),rgb(255, 255, 255));
  background-size: 100% 100%;
  flex-direction: column;
  width: 90%;
  max-width: 450px;
  max-height: 450px;
   display: inline-block;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 2px 3px #88888877;
}

.carteproduit:hover {
    background:linear-gradient(45deg,rgba(228, 206, 10, 0.555),rgba(20, 206, 14, 0.562));
    box-shadow: 4px 4px #888888b7;
    transition: 0.3s;
  }

.rectangle {
  max-height: 316px;
  height: 300px;
  
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}



/*ELEMENTS INCLUS DANS FEATURED  */
@media only screen and (max-width: 575px) {
  #isok .rectangle {
    max-height: 500px;
    height: 400px;
    
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
  }
}


#isok .rectangle {
  max-height: 720px;
  height: 680px;
  
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}

#isok .carteproduit {
  align-items: center;
  background:linear-gradient(rgb(15, 201, 188),rgba(18, 146, 231, 0.514));
  width: 100%;
  background-size: 100% 100%;
  margin: 0 auto;
  max-height: 750px;
  max-width:100%;
  border-radius: 20px;
  box-shadow: 2px 3px #88888877;
}


#isok .carteproduit:hover {
  background:linear-gradient(45deg,rgba(10, 159, 228, 0.952),rgb(9, 204, 230));
  box-shadow: 4px 4px #888888b7;
  transition: 0.3s;
}









/*third ELEMENTS FIN*/

















