@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,500");



/*SELLER */

.seller{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;

}
.plus{
  padding: 2px;
  margin: 2px;
  font-size: small;
  background-color: transparent;
  border-color: transparent;

}
.auteur{
  text-align: start;
  font-size: small;
}
.profil {
  height: 32px;
  object-fit: cover;
  width: 32px;
  border-radius: 100%;
  margin: 1px;
  padding: 2px;
  box-shadow: 1px 1px #888888de;

}
.font-weight-normal{
  padding: 1px;
  font-size: small;
}


/*SELLER FIN */






   
/*CARTE PRODUIT */

.cell .carteproduit{
  width:99%
}

.carteproduit {
  align-items: center;
 /* background:linear-gradient(rgb(118,149,147,100%),rgb(255, 255, 255));*/
  background-size: 100% 100%;
  border: 1px solid rgba(128, 128, 128, 0.315);
  flex-direction: column;
  width: 90%;
  max-width: 450px;
  height: fit-content;

   display: inline-block;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 2px 3px #88888877;
}

.carteproduit:hover {
    background:linear-gradient(45deg,rgba(228, 206, 10, 0.555),rgba(27, 221, 20, 0.479));
    box-shadow: 3px 3px #88888894;
    transition: 0.4s ease-in;
  }

.rectangle {
  max-height: 316px;
  height: 300px;
  
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}

.productinfo{
display: block;
}


.Shown{
  display: block !important;
  transition: all 1s ease-out;
  opacity: 1;
}
