@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,500");


#icaj{
  width: 95%;
  margin: 0 auto;
}


#isok{
  display: flex;
  align-items: center;
}




.rowl{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
}

.cell{
  min-height:75px;
  flex-grow:1;
  flex-basis:100%;
}
#ibhs{
  flex-basis:100%;
}

#i9ik,#i9il{
  display: flex;

}
@media (max-width: 1185px){
  .minicell .rectangle{
    max-height: 200px;
  }
 .minicell .carteproduit{
    max-height: 400px;
  }
}

@media (max-width: 1185px){
  .minicell .rectangle{
    max-height: 200px;
  }
 .minicell .carteproduit{
    max-height: 400px;
  }
}

@media (max-width: 768px){
  .rowl{
    flex-wrap:wrap;
  }
  .minicell .rectangle{
    max-height: 350px;
  }
 .minicell .carteproduit{
    max-height: 450px;
  }
}
