

.bi-arrows-angle-contract{
  font-size: large;
}
.details{
    width: 150px;
    height: 35px;
    margin: 5px auto;
    padding: 2px;
    border-radius: 10px;
    background-color: rgba(163, 161, 161, 0.137);
    box-shadow: 2px 2px 2px #aaaaaae1;
    border: 0px;

}
.details:hover{
    
    background:linear-gradient(45deg,rgba(228, 206, 10, 0.555),rgba(27, 221, 20, 0.479));
    box-shadow: 3px 3px 3px #aaaaaae1;
    transition: 0.4s;
}




.modal{
    background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
    transition:all 600ms ease-in-out;


}
 .bigger{
     font-size: x-large;
 }
 .optionscontact{
   display: inline-flex;
     padding: 5px;
     margin: 0 auto;
     margin-bottom: 2rem;
     margin-top: 3rem;
 }
 .opt1{
     padding: 0.3rem;
     margin: 0.5rem;
 }





* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .modalrow{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding:2px;
    height: 500px;

  }
  @media screen and (min-width: 1400px) {
    .modalrow{
      height: 700px;
    }


  }
  .modalrow1{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding:2px;
    height: fit-content;

  }
  .modalcell{
    min-height:45px;
    flex-grow:1;
    flex-basis:100%;
	box-shadow: 2px 2px 2px #aaaaaae1;
  }
  @media (max-width: 768px){
    .modalrow{
      flex-wrap:wrap;
    }
  }

  .modalcell2{
    min-height:45px;
    flex-grow:1;
    flex-basis:100%;
	box-shadow: 2px 2px 2px #aaaaaae1;
    overflow: auto;

  }


  
.bigmodalcell{
      background-color: rgb(255, 255, 255);
    display: block;
   align-items: center;
   width: 70%;
   height: fit-content;
   margin: 20px auto;
   border-radius: 20px;
   border:1px solid black;
   overflow: auto;


 }

  @media screen and (max-width: 900px) {
    .bigmodalcell{
   overflow: auto;
  
       width: 100%;
     
   }
 }







.modalcell .rectangle {
  
    object-fit: cover;
    max-height: 100% ;
    max-width: 500px;

    width: 90%;
    height: 100% !important;
    padding: 10px;
    border-radius: 20px;

  }


  .showit{
    display:block !important;

  }



  .descrip{
    margin: 0 auto;
  }






  /* NEW MODAL */



  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: all;
}

.modal-dialog {
  width: 70%;
  margin: 1.75rem auto;
  border-radius: 20px;
  max-width: 1300px;
  background-color: azure;
}
  @media screen and (min-width: 950px) {
    .modal-dialog {
      width: 70%;
      margin: 1.75rem auto;
      border-radius: 20px;
      max-width: 1300px;
      background-color: rgb(255, 255, 255);
      overflow: auto;
  }
 }


 @media screen and (max-width: 949px) {
  .modal-dialog {
    width: 100%;
    margin: 1.75rem auto;
    border-radius: 20px;
    max-width: 680px;
    background-color: rgb(255, 255, 255);
    overflow: auto;

  }
}

.modal.fade.show{
  display: block !important;
}

.modalelements{
  width: 100%;
}


.row.hideit{
  display: none;
}


