@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,500');

/* Cart layout */
  .basket-product {
    border-bottom: 1px solid var(--bs-gray-300);
    padding: 1.5rem;
    margin: 1.5rem 0;
    box-shadow: 2px 2px #88888877;
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;
  }

.basket-product:hover {
  background-color: rgba(102, 102, 102, 0.068);
}

.product-image img {
  width: 100%;
  max-width: 150px;
  max-height: 150px;
  border-radius: 0.65rem;
}

.basket-product .product-title {
  font-size: 1.1rem;
}

.basket-product .product-price {
  font-size: 1.25rem;
}

  .summary {
    border: 1px solid rgba(170, 170, 170, 0.466);
    box-shadow: 2px 2px #88888877;
    border-radius: 1rem;
    background-color: var(--bs-white);
    font-family: 'Poppins', sans-serif;
  }

.summary-total-items {
  color: var(--bs-gray-600);
  font-size: 0.875rem;
  text-align: center;
}

.summary-subtotal,
.summary-total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--bs-gray-300);
  border-bottom: 1px solid var(--bs-gray-300);
  margin: 0.6rem 0;
  padding: 0.5rem 0;
}

.summary-checkout .checkout-cta {
  width: 100%;
  border-radius: 1rem;
}

.basket-module {
  color: var(--bs-dark);
  padding: 0.5rem 0;
}

.promo-code-field {
  border: 1px solid var(--bs-gray-400);
  padding: 0.3rem;
  text-transform: uppercase;
  width: 60%;
}

  .summary-delivery-selection {
    width: 100%;
  }

  .qty-input {
    width: 50px;
    text-align: center;
  }
